.chat-bubble-container-desktop {
    background-color: rgb(37, 211, 102);
    border: solid 6px white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    position: fixed;
    right: 100px;
    top: 900px;
}

.chat-bubble-container-desktop:hover {
    background-color: rgb(7, 94, 84);
}

.chat-bubble-container-mobile {
    background-color: rgb(37, 211, 102);
    border: solid 6px white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 10px;
    top: 850px;
}

.chat-bubble {
    color: white
}