#secondProjectColor {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-rectangle-project {
  width: 800px;
  height: 450px;
  margin-left: 50px;
  overflow: hidden;
  background: rgba255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.container-card-project-desktop {
  display: flex;
  flex-direction: row;
}

.contentProjectDesktop {
  width: 550px;
  margin-left: 20px;
  font-weight: bold;
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.container-card-project-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-square-mobile-project {
  max-width: 350px;
  height: 350px;
  background-color: rgb(91, 44, 179);
  border-radius: 50px;
  overflow: hidden;
  margin-top: 50px;
}

.contentProjectMobile {
  width: 350px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgPositionAndStyleStaticDesktopProject1 {
  width: 600px;
  margin-top: 90px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.imgPositionAndStyleStaticMobileProject1 {
  width: 300px;
  height: 200px;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.titleDesktop {
  font-size: 150px;
  font-weight: bold;
  color: rgb(143, 106, 255);
  margin-bottom: 50px;
}

.titleMobile {
  width: 450px;
  font-size: 50px;
  font-weight: bold;
  color: rgb(143, 106, 255);
  align-self: center;
}
