.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 30px;
  color: rgba(0, 0, 0, 0.5);
  width: 13vw;
  height: 7vh;
  border-radius: 50px;
  background: #f8f7f7;
  box-shadow:
    7px 7px 11px #e2e1e1,
    -7px -7px 11px #ffffff;
}

.footer-item:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(85, 85, 85, 1);
  border-radius: 50px;
  background: #f8f7f7;
  box-shadow:
    inset 7px 7px 11px #e2e1e1,
    inset -7px -7px 11px #ffffff;
}

.copyright {
  font-family: "Chewy", cursive;
  display: flex;
  justify-content: center;
}

.footer-container-Desktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 15px;
  border-radius: 50px;
}

.footer-item-Desktop {
  display: flex;
  font-family: "Chewy", cursive;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7);
  width: 10vw;
  height: 15vh;
  border-radius: 50px;
  background: #f8f7f7;
  box-shadow:
    7px 7px 11px #e2e1e1,
    -7px -7px 11px #ffffff;
}

.footer-item-Desktop:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(85, 85, 85, 1);
  border-radius: 50px;
  background: #f8f7f7;
  box-shadow:
    inset 7px 7px 11px #e2e1e1,
    inset -7px -7px 11px #ffffff;
}

a {
  text-decoration: none;
}
